@font-face {
  font-family: 'pacificoregular';
  src: url('fonts/pacifico/pacifico-webfont.eot');
  src: url('fonts/pacifico/pacifico-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pacifico/pacifico-webfont.woff2') format('woff2'), url('fonts/pacifico/pacifico-webfont.woff') format('woff'), url('fonts/pacifico/pacifico-webfont.ttf') format('truetype'), url('fonts/pacifico/pacifico-webfont.svg#pacificoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glacial_indifferenceregular';
  src: url('fonts/glacial-indifference/glacialindifference-regular-webfont.eot');
  src: url('fonts/glacial-indifference/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.woff2') format('woff2'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.woff') format('woff'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.ttf') format('truetype'), url('fonts/glacial-indifference/glacialindifference-regular-webfont.svg#glacial_indifferenceregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  background-color: hsl(53, 62%, 95%);
  font-family: 'glacial_indifferenceregular', sans-serif;
  color: hsl(106, 23%, 44%);
  text-align: center;
}

h1 {
  margin: 1em;
  font-family: 'pacificoregular';
  font-size: 3em;
  font-weight: lighter;
  color: hsl(25, 48%, 30%);
}

.btn {
  background-color: hsl(25, 62%, 44%);
}

.btn:hover {
  background-color: hsl(25, 48%, 30%);
}